<!DOCTYPE html>
<html>
    <head>
        <title>auth</title>
        <meta charset="utf-8">
    </head>
    <body onload="onload()">
        loading...
    </body>
    <script>
        function onload(){
            var userInfo = '<%= uid %>';
            localStorage.setItem('uid', userInfo);
            window.location.href = '/Home';
        };
    </script>
</html>