<!DOCTYPE html>
<html>
    <body id='body_center' onload="onload()">
        <div id='center_40persent'>
            <h1>Welcome to this Project</h1><br>
            this project is write by<br>
            Or Kai Yeung (12767539)<br>
            Yu Yiwen (12810000)<br>
            Choi King Chung (12765767)
            <br><br>
            <div id='wapper'>
                <button onclick="window.location.href ='/addItem'">Add Inventroy</button>&nbsp;&nbsp;
                <button onclick="window.location.href ='/search'">Search</button>&nbsp;&nbsp;
                <button onclick="logout()">Logout</button>
            </div><br> 
            <% if ( data.length > 0 ) { %>
                All Items:<br>          
                <% data.forEach(element => { %>     
                    <button id='white' onclick="window.location.href = '/viewItem?oid=<%= element.inventory_id.toString() %>'"><%= element.name %></button>
                    <br><br>               
                <% }); %>    
                <% if ( moreItem ) { %>
                    <button onclick="nextPage()">Next Page</button>
                <% } else { %>
                    No More Item
                <% } %>
            <% } else if ( start > 0 ) { %>
                <button onclick="backPage()">Back Page</button>
            <% } else {%> 
                <p>there is no data</p>
            <% } %> 
        </div>
        
    </body>
    <script>
        var clicked = false
        function onload(){
            if (localStorage.getItem("uid") == null){
                window.location.href = "/";
            }
        }

        function logout(){
            var answer = window.confirm("Really want to Logout?");
            if (answer) {
                localStorage.removeItem("uid");
                window.location.href = "/";
            }
        }

        function nextPage() {
            if (clicked == false){
                
                let urlParams = new URLSearchParams(window.location.search)
                var startItem = parseInt(urlParams.get('startItem'));
                if (startItem == null) {
                    startItem = 0
                }
                startItem += 10
                window.location.href = "/Home?uid=" + localStorage.getItem('uid') + "&startItem=" + startItem
                clicked = true
            }
            
        }

        function backPage() {
            
            let urlParams = new URLSearchParams(window.location.search)
            var startItem = parseInt(urlParams.get('startItem'));
            if (startItem == null) {
                startItem = 0
            }
            startItem -= 10
            window.location.href = "/Home?uid=" + localStorage.getItem('uid') + "&startItem=" + startItem
        }
    </script>
    <link href="css/default.css" rel="stylesheet"></link>
    <style>
        
    </style>
</html>
