<!DOCTYPE html>
<html>
    <body onload="onload()">
        <div id='center'>
            <h1>Welcome to this Project</h1><br>
            this project is write by<br>
            Or Kai Yeung (12767539)<br>
            Yu Yiwen (12810000)
            <br><br>
            <button onclick="window.location.href ='/addItem'">Add Inventroy</button><br><br>
            <button onclick="logout()">Logout</button>
            <% if ( data != [] ) { %>
                <ul>
                    <% data.forEach(element => { %>
                        <li><%= element.name %></li>
                    <% }); %>
                </ul>
            <% } else {%> 
                <p>there is no data</p>
            <% } %> 
        </div>
        
    </body>
    <script>
        function onload(){
            if (localStorage.getItem("uid") == null){
                window.location.href = "/";
            }
        }

        function createIten(){
            
        }

        function logout(){
            var answer = window.confirm("Really want to Logout?");
            if (answer) {
                localStorage.removeItem("uid");
                window.location.href = "/";
            }
        }
    </script>
    <link href="css/default.css" rel="stylesheet"></link>
</html>