<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body id='body_center'>
        <div id='center'>
            <H1>Welcome to the Home Page</H1>
            <div>
                <button  onclick="window.location.href='/login'">Login</button><br><br>
                <button id='white' onclick="window.location.href='/signup'">Sign Up</button>
            </div>
            
        </div>
    </body>
    <link href="css/default.css" rel="stylesheet"></link>
</html>