<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <BODY>
        <H1>Welcome to the Home Page</H1>
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/signup'">Sign Up</button>
        <ul>
            
        </ul>
    </BODY>
    <style>
        body{
            display: flex;
            justify-content: center; 
            align-items: center;
        }
        .center{
            width: 80%;
        }
    </style>
</html>