<!DOCTYPE html>
<html>
    <head>
        <title>Insert Item</title>
        <meta charset="utf-8">
    </head>
    <body onload="onload()">
        <div id='center'>
            <h1>Add Inventory</h1>
            <form action='/api/addInventory' method="post" id='insertInventory'>
                <input type='hidden' id='uid' name='uid'>
                <!--Name Inpute-->
                Name: <input type="text" name="name" id='name' placeholder="Name" required><br><br>
                <!--type Input-->
                Type: <input type="text" name='type' id='type' placeholder="Type"><br><br>
                <!--quantity Input-->
                Quantity: <input type="number" name='quantity' id='quantity' placeholder="Quantity"><br><br>
                Image: <input type="file" onchange="viewImage()" accept="image/jpeg"><br><br>
                <input id='img_base64' type="hidden" name="photo">
                <img height="200"><br><br>
                Address: <div id='left'>
                    <!--street input-->
                    Street: <input type="text" name='street' id='street' placeholder="Street"><br><br>
                    <!--building-->
                    Building: <input type="text" name='building' id='building' placeholder="Building"><br><br>
                    <!--country-->
                    Country: <input type="text" name='country' id='country' placeholder="Country"><br><br>
                    <!--zipcode-->
                    Zipcode: <input type="text" name='zipcode' id='zipcode' placeholder="Zipcode"><br><br>
                    <!--coord-->
                    Coordinates: <input type="text" name='coord' id='coord' placeholder="Coordinates"><br><br>
                </div>
                <!--manager Input-->
                Manager: <input type="text" name='manager' id='manager' placeholder="Manager" required><br><br>
                <button onclick="onSubmit()">Submit</button><br>
            </form>
        </div>
    </body>
    <script>
        function onSubmit(){
            document.getElementById('insertInventory').submit();
        }

        function onload() {
            document.getElementById('uid').value = localStorage.getItem('uid').toString();
        }

        function viewImage(params) {
            var preview = document.querySelector('img');
            var file    = document.querySelector('input[type=file]').files[0];
            var reader  = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
                getBase64(file)
            }
        }
    
        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                document.getElementById('img_base64').value = reader.result;
            }
            reader.onerror = function (error) {
                console.log('Error: ', error);
            }
        }
    </script>
    
    <link href="css/default.css" rel="stylesheet"></link>
</html>