<!DOCTYPE html>
<html>
    <head>
        <title>Insert Item</title>
        <meta charset="utf-8">
    </head>
    <body onload="onload()" id="card_center">
        <div id='center'>
            <h1>Add Inventory</h1>
            <form action='/api/addInventory' method="post" id='insertInventory'>
                <input type='hidden' id='uid' name='uid'>
                <!--Name Inpute-->
                Name*: <input type="text" name="name" id='name' placeholder="Name" required><br><br>
                <!--type Input-->
                Type: <input type="text" name='type' id='type' placeholder="Type"><br><br>
                <!--quantity Input-->
                Quantity: <input type="number" name='quantity' id='quantity' placeholder="Quantity"><br><br>
                Image: <input type="file" onchange="viewImage()" accept="image/jpeg"><br><br>
                <input id='img_base64' type="hidden" name="photo">
                <input id='img_mine' type="hidden" name="photo_mine">
                <img height="200"><br><br>
                Address: <br>
                <div id='item_onright'>
                    <!--street input-->
                    Street: <input type="text" name='street' id='street' placeholder="Street"><br><br>
                    <!--building-->
                    Building: <input type="text" name='building' id='building' placeholder="Building"><br><br>
                    <!--country-->
                    Country: <input type="text" name='country' id='country' placeholder="Country"><br><br>
                    <!--zipcode-->
                    Zipcode: <input type="text" name='zipcode' id='zipcode' placeholder="Zipcode"><br><br>
                    <!--longitude-->
                    Longitude: <input type="text" name='longitude' id='longitude' placeholder="Longitude"><br><br>
                    <!--latitude-->
                    Latitude: <input type="text" name='latitude' id='latitude' placeholder="Latitude"><br><br>
                </div><br><br>
                <!--manager Input-->

                Manager*: <input type="text" name='manager' id='manager' placeholder="Manager" required><br><br>
                <button onclick="onSubmit()">Submit</button><br><br>
                <button onclick="onCancel()">Cancel</button>
            </form>
        </div>
    </body>
    <script>
        function onSubmit(){
            var Name = document.getElementById("name").value;
            var Manager = document.getElementById("manager").value;
            if (Name == "" || Manager == ""){
                alert("Please fill in required the fields");
                return;
            } else{
                document.getElementById('insertInventory').submit();
            }
        }

        function onCancel() {
            window.location.href = "/Home?uid=" + document.getElementById('uid').value;
        }

        function onload() {
            document.getElementById('uid').value = localStorage.getItem('uid').toString();
            if(localStorage.getItem('uid') == null){
                alert("Please login first");
                window.location.href = "/";
            }
        }

        function viewImage(params) {
            var preview = document.querySelector('img');
            var file    = document.querySelector('input[type=file]').files[0];
            var reader  = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
            }, false);

            if (file) {
                var mine = file.type;
                document.getElementById('img_mine').value = mine;
                reader.readAsDataURL(file);
                getBase64(file)
            }
        }
    
        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                document.getElementById('img_base64').value = reader.result;
            }
            reader.onerror = function (error) {
                console.log('Error: ', error);
            }
        }
    </script>
    
    <link href="css/default.css" rel="stylesheet"></link>
</html>