<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body id="body_center">
        <div id="center">
            <form action="/api/login" method="get" id='loginForm'>
                <h1>Login</h1><br><br>
                <div id='wapper'>
                    <input name="userName" value="haha" id='usN' required/>
                </div>
                <br><br>
                <div id='wapper'>
                    <input name="password" value="haha" id='pw' required/>
                </div>
                <br><br>
                <button onclick="check()">Login</button>
            </form>
        </div>
        <script>
            function check(){
                var pw = document.getElementById("pw").value;
                var usN = document.getElementById("usN").value;
                if (pw == "" || usN == ""){
                    alert("Please fill in all the fields");
                }
                else{
                    document.getElementById("loginForm").submit();
                }
            }

        </script>
        <link href="css/default.css" rel="stylesheet"></link>
    </body>
</html>