<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body id="body_center">
        <div id="center">
            <form action="/api/login" method="get" id='loginForm'>
                <h1>Login</h1><br><br>
                <div id='wapper'>
                    <input name="userName" id='usN' required placeholder="User Name"/>
                </div>
                <br><br>
                <div id='wapper'>
                    <input name="password" id='pw' placeholder="Password"/>
                </div>
                <br><br>
                <button onclick="login()">Login</button>
            </form>
        </div>
        <script>
            function login(){
                document.getElementById("loginForm").submit();
            }
        </script>
        <link href="css/default.css" rel="stylesheet"></link>
    </body>
</html>