<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body onload="onload()" id='body_center'>
        <div id='center'>
            <div id='card'>
                <div id='wapper'>
                    <input type="text" id="input" oninput="input_chanege()">
                </div>
                <br>
                <button>Search</button>
                <br>
                <ul id='list'>

                </ul>

            </div>

        </div>
    </body>
    <link href="css/default.css" rel="stylesheet"></link>
    <script>

        var data = <%- JSON.stringify(data) %>

        function onload(){
            if (localStorage.getItem("uid") == null){
                window.location.href = "/";
            }

            var newdata = data.limit(20);
            var list = document.getElementById("list");
            for (var i = 0; i < newdata.length; i++){
                var li = document.createElement("li");
                li.innerHTML = newdata[i].name.toString();
                list.appendChild(li);
            }
        }

        function input_chanege(){
            var input = document.getElementById("input").value;
            
            var list = document.getElementById("list");
            while(list.firstChild) list.removeChild(list.firstChild);
            for (var i = 0; i < data.length; i++){
                if (data[i].name.indexOf(input) != -1){
                    var li = document.createElement("li");
                    li.innerHTML = data[i].name.toString();
                    list.appendChild(li);
                }
            }
        }
    </script>

</html>