<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <div id="center">
            
            <form action='/api/createUser' method="post" id='signForm'>
                <h1>Sign Up</h1><br><br>
                <input type="text" name="userName" id='usN' placeholder="Username" required><br><br>
                <input type="password" name="password" id='pw' placeholder="Password" required><br><br>
                <input type="password" id='cpw' placeholder="Confirm Password" required><br><br>
                <button onclick="check()">Sign Up</button>
            </form>
        </div>
        <script>
            function check(){
                var pw = document.getElementById("pw").value;
                var confirm_pw = document.getElementById("cpw").value;
                var usN = document.getElementById("usN").value;
                if (pw == "" || confirm_pw == "" || usN == ""){
                    alert("Please fill in all fields");
                    return false;
                } else if ( confirm_pw != pw){
                    alert("Passwords do not match");
                    return false;
                } else {
                    document.getElementById('signForm').submit();
                    return true;
                }
            }
        </script>
        <link href="css/default.css" rel="stylesheet"></link>
    </body>
</html>